
@media only screen and (max-width: 1092px) {
  .nav-list {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    height: 447px;
    transition: all 0.7s ease-out;
  }
  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .rightNav {
    text-align: center;
  }
  #search {
    width: 100%;
  }
  .burger {
    display: block;
  }
  .h-nav-resp {
    height: 72px;
  }
  .v-class-resp {
    opacity: 0;
  }
  .section {
    flex-direction: column-reverse;
  }
  .text-small {
    text-align: center;
  }
  .text-big {
    text-align: center;
  }
  .buttons {
    text-align: center;
  }
  .paras {
    padding: 0px;
  }
}
